.alternada{
    list-style: upper-alpha;
    font-size: 30px;
    color: rgb(17, 13, 50);
    width: fit-content;

}
/* par = even, impar = odd*/
.alternada li:nth-child(odd){
    background-color: aquamarine;
}

.alternada li:nth-child(even){
    background-color: rgb(127, 155, 255);
}

.alternada li:hover{
    font-weight: bolder; /*negrito quando passar o mouse*/
}