*{
    background-color: #000000;
    color:#ffffff;
    font-size: 15px;
}

.calculadora{
    /*: Permite um posicionamento mais preciso.*/
    position: absolute; 

    /*Define o ponto superior esquerdo da div no meio da tela.*/
    top: 50%; 
    left: 50%;

    /*Move a div de volta em 50% de sua largura e altura, alinhando-a perfeitamente no centro.*/
    transform: translate(-50%, -50%);
    
    display:flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    background-color: rgb(41, 60, 155);
    width: 80%;/* Alterado para largura relativa */
    max-width: 300px;/* Limita a largura máxima */
    height: auto;/* Altura ajustada automaticamente */
    border: #000000;
    border-radius: 5%;
    /*border: 2cm;*/
    padding: 6%;
}

.calculadora p{
    background-color: rgb(41, 60, 155);
}
p{
    color: #fff;
    font-size: 20px;
    margin-bottom: 1cm;
}

input[type='text']{
    width:100%;/* Largura total */
    padding:8px;
    margin-bottom:0.5cm;
    border-radius:5px;
    border:1px solid #ccc;
}

#operacao{
    width: 100%;/* Largura total */
    border-radius:5px;
    margin-bottom: 0.5cm;/* Ajustado para margem uniforme */
    color: #ccc;
    background-color: #000000;
}

/*muda as cores de fundo e das palavras na seleção de operações*/
select option{
    color: #ccc;
    background-color: #000000;
    font-size: smaller;
}

#resultado{
    width:100%; /* Largura total */
    padding:8px;
    margin-bottom:0.7cm;
    border-radius:5px;
    border:1px solid #ccc;
    color: #ccc;
}

.alert{
    background: rgb(214, 78, 78);
    color:rgb(245, 220, 220);
    padding: 5px;
    margin: 5px;
}

/* Responsividade */

@media screen and (max-width: 768px) { /* Mídia query para smartphones */
    .calculadora {
        width: 90%; /* Largura relativa ajustada */
        padding: 4%; /* Padding ajustado */
    }

    p {
        font-size: 16px; /* Tamanho da fonte reduzido */
    }

    input[type='text'],
    #operacao,
    #resultado {
        width:80%;
        font-size: 14px; /* Tamanho da fonte reduzido */
    }
}